body {
	text-align: center;
	/*background-color: aquamarine;*/
	font-family: sans-serif;
}
section {
	min-height: 350px;
}

.btn-group-lg > .btn,
.btn-lg {
	padding: 0.25rem 1rem;
	width: 195px;
}
.btn-sm {
	width: 140px;
}
.active a {
	color: #ff4038 !important;
}
.btn-primary {
	background-color: #003380;
	border-color: #003380;
}
.btn-danger {
	background-color: #ff4038;
	border-color: #ff4038;
}
.bg-primary {
	background-color: #003380 !important;
}
.bg-danger {
	background-color: #ff4038;
}
/* NAVBAR */
.navbar-light .navbar-nav .nav-link {
	color: #003380;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
	color: #0b203f;
}
.navbar-toggler:focus {
	text-decoration: none;
	/* outline: 0; */
	box-shadow: 0 0 0 0rem;
}

.active {
	font-weight: bolder;
}
.scrolled {
	background-color: rgba(255, 255, 255, 0.8);
}

/*HEADER*/
header {
	background: url(/Images/header-bg.jpg);
	min-height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 80vh;
}

#innerHeader {
	min-height: inherit;
	height: inherit;
}

/* INTRO */
section h1 {
	margin-top: 4em;
	margin-bottom: 4em;
	font-style: italic;
	font-size: 1.4em;
	font-family: "Times New Roman", Times, serif;
}

p span {
	color: #003380;
}

.bg-gray,
footer {
	background-color: #f1f4f9;
}

/* ICONS SECTION */
#icons img {
	padding-bottom: 2em;
	width: 75px;
}

/* Courses DETAILS*/
section.bg-gray img {
	width: 50px;
	padding-bottom: 2em;
}

main {
	text-align: left;
}

main h1,
hr {
	color: #003380;
}

i {
	font-size: 2em;
	margin: 10px;
}

#facebook {
	color: #1877f2;
}
#facebook:hover {
	color: #003380;
}
#youtube {
	color: #ff0000;
}
#youtube:hover {
	color: #ff4038;
}

#instagram {
	color: #ff0000;
	background: #d6249f;
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.left-align {
	text-align: left;
}

.red-color {
	color: #ff4038;
}
a.red-color:hover {
	color: #ff0000;
}
.cross-price {
	text-decoration: line-through;
	text-decoration-color: #ff4038;
	color: black;
}

@media only screen and (min-width: 992px) {
	/* p {
		word-break: keep-all;
	}
	h3 + p {
		word-break: break-all;
	} */
	iframe {
		width: 480px;
		height: 450px;
	}
}

@media only screen and (min-width: 768px) {
	address {
		text-align: center;
	}
	#chart {
		min-height: 200px !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#icons img {
		min-height: 180px;
		padding-bottom: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	iframe {
		width: 330px;
		height: 300px;
	}
}
@media only screen and (min-width: 1200px) {
	#icons img {
		min-height: 190px;
		padding-bottom: 0px;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 0.8em !important;
	}
	iframe {
		width: 280px;
		height: 310px;
	}
}
