<div class="container-fluid pt-5 pb-2">
	<div class="row justify-content-center">
		<div class="col-12">
			<h6 class="h2">Follow Us</h6>
			<a href="https://www.instagram.com/sym_shibuya/" target="_blank"
				><i class="fab fa-instagram-square" id="instagram"></i
			></a>
			<a href="https://www.facebook.com/sym.tokyo/" target="_blank"
				><i class="fab fa-facebook-square" id="facebook"></i
			></a>
			<a
				href="https://www.youtube.com/channel/UCHNvCC8TLZy_HVlDCX-QReQ"
				target="_blank"
				><i class="fab fa-youtube" id="youtube"></i
			></a>
		</div>
		<hr />
		<div class="row justify-content-center px-5">
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<address class="left-align">
					<h6>スピーク ユア マインド英会話スクール</h6>
					<p>
						東京都渋谷区富ヶ谷1-53-2 <br />
						KOTOBUKIビル2階3階<br />
						〒151-0063 <br />
						Email to:
						<a href="mailto:info2@speakmind.jp"
							>info2@speakmind.jp</a
						><br />
						Tel: <a href="tel:03-3469-7151">03-3469-7151</a>
					</p>
				</address>
			</div>
		</div>
		<small
			>&copy; Copyright <span id="copyright-year">0000</span>, The Speak
			Your Mind School, Shibuya</small
		>
	</div>
</div>
