<nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
	<!--Logo-->
	<div class="container-fluid">
		<a href="/index.html" class="navbar-brand">
			<img src="/Images/NavBar-Logo.png" alt="" width="150" />
		</a>

		<!-- Toggle Button -->
		<button
			id="buttonNav"
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Context Menu -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a href="/index.html" class="nav-link">ホーム</a>
				</li>
				<li class="nav-item">
					<a href="/100minuteOfEnglish.html" class="nav-link"
						>&#60;100分英語&#62;コース</a
					>
				</li>
				<li class="nav-item">
					<a href="/courses.html" class="nav-link">コース</a>
				</li>
				<li class="nav-item">
					<a href="/method.html" class="nav-link">メソッド</a>
				</li>
				<li class="nav-item">
					<a href="/enrol.html" class="nav-link">お申し込み方法</a>
				</li>
				<li class="nav-item">
					<a href="/contact.html" class="nav-link">お問い合わせ</a>
				</li>

				<!-- ADD THIS LATER
				<li class="nav-item">
					<a href="/FAQ.html" class="nav-link">よくある質問</a>
				</li>
				<li class="nav-item">
					<a href="/studentComments.html" class="nav-link"
						>生徒さんの声</a
					>
				</li>
				ADD THIS LATER -->
			</ul>
		</div>
	</div>
</nav>
